@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');


/* Heading */

.heading-text {

  text-align: center;
  font-family: 'Oswald', sans-serif;
  color: darkgreen;
  margin-top: 20px;
  margin-bottom: 20px;

}


/* Panel */

.panel-body {

  margin-left: 2%;
  margin-right: 2%;

}


/* Table */

table {

  width: 100%;
  border-collapse: collapse;

}

thead {

  background-color: rgb(136, 96, 35);

}

th {

  text-transform: uppercase;
  color: rgb(170, 44, 44);
  font-family: Helvetica;
  font-style: italic;
  padding: 10px;

}

td {

  border: 1px solid rgb(163, 161, 161);
  font-family: serif;
  font-weight: bold;
  padding: 10px;
  text-align: center;

}


/* Identity image */

.user-img {

  width: 70px;
  height: 70px;
  object-fit: contain;

}


/* Status styles */

.accepted {

  border-radius: 10px;
  background-color: green;
  padding: 5px 12px;
  color: white;

}

.pending {

  border-radius: 10px;
  background-color: orange;
  padding: 5px 12px;
  color: white;

}

.rejected {

  border-radius: 10px;
  background-color: red;
  padding: 5px 12px;
  color: white;

}


/* Date and Slot */

.date-cover {

  border-radius: 10px;
  background-color: navy;
  padding: 5px 12px;
  color: white;

}

.slotcover {

  border-radius: 10px;
  background-color: brown;
  padding: 5px 12px;
  color: white;

}


/* Hover */

tr:hover {

  background-color: #f5f5f5;

}