@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

.panel-body {
  margin-left: 1%;
  margin-right: 2%;
}

thead {
  background-color: rgb(67, 97, 20);
}

table,
td {
  text-align: center;
  align-items: center;
  vertical-align: middle;
}

table,
td,
tr {
  border: 1px solid rgb(163, 161, 161);
  font-family: serif;
  font-weight: bold;
  font-style: normal;
  font-size: large;
}

th {
  text-transform: uppercase;
  color: rgba(222, 8, 8, 0.981);
  font-family: Helvetica;
  font-style: italic;
  font-size: normal;
}

td {
  text-transform: none;
}

.accepted {
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgb(30, 116, 30);
  padding: 5px 10px 5px 10px;
  color: rgb(253, 252, 252);
  font-weight: bolder;
}

.pending {
  border-radius: 10px;
  background-color: rgb(196, 137, 28);
  padding: 5px 10px 5px 10px;
  color: rgb(245, 240, 240);
  font-weight: bolder;
}

.datecover {
  border-radius: 10px;
  background-color: rgb(10, 15, 68);
  padding: 5px 10px 5px 10px;
  color: rgb(240, 233, 233);
  font-weight: bolder;
}

.noslot {
  border-radius: 10px;
  background-color: rgb(128, 26, 26);
  padding: 5px 10px 5px 10px;
  color: rgb(201, 12, 12);
  font-weight: bolder;
}