<footer class="footer">
  <div class="footer-container">
    <iframe
    src="https://maps.google.com/maps?q=chennai&t=&z=13&ie=UTF8&iwloc=&output=embed"
    width="100%"
    height="250"
    style="border: 0"
  >
  </iframe>
    <!-- ABOUT -->
    <div class="footer-section">
      <h3>Healthcare Management</h3>
      <p>
        A smart hospital management platform designed to improve patient care,
        doctor coordination, and hospital operations.
      </p>
    </div>

    <!-- QUICK LINKS -->
    <div class="footer-section">
      <h4>Quick Links</h4>

      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/services">Services</a></li>
        <li><a routerLink="/bookappointment">Appointments</a></li>
        <li><a routerLink="/checkslots">Doctor Slots</a></li>
        <li><a routerLink="/contact">Contact</a></li>
      </ul>
    </div>

    <!-- SERVICES -->
    <div class="footer-section">
      <h4>Hospital Services</h4>

      <ul>
        <li>Cardiology</li>
        <li>Neurology</li>
        <li>Orthopedics</li>
        <li>General Medicine</li>
        <li>Emergency Care</li>
      </ul>
    </div>

    <!-- CONTACT -->
    <div class="footer-section">
      <h4>Contact Us</h4>

      <p>📍 Chennai, India</p>

      <p>📞 +91 9698382306</p>

      <p>📧 mdtabishfiroz04@gmail.com</p>

      <p>🚑 Emergency : 108</p>
    </div>
  </div>

  <!-- SOCIAL MEDIA -->
  <div class="social-section">
    <a class="icon fb"><i class="fa fa-facebook-f"></i></a>
    <a class="icon tw"><i class="fa fa-twitter"></i></a>
    <a class="icon google"><i class="fa fa-google"></i></a>
    <a class="icon linkedin"><i class="fa fa-linkedin"></i></a>
    <a class="icon github"><i class="fa fa-github"></i></a>
  </div>
  

  <!-- COPYRIGHT -->
  <div class="copyright">
    © 2026 Healthcare Management System | Developed by <b>Tabish Firoz</b>
  </div>
</footer>
